@import "mixins";
@import "colors";

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $greyColor;
    margin: 0 auto;
    border: 2px solid black;
    width: 50%;
    color: red;

    input {
        width: 50%;
    }

    .large-name {
        @include large-text();
    }

    p {
        color: black;

        @media(min-width: 600px) and (max-width: 1000px) {
            color: red;
            display: none;
        }

        @media(min-width: 1001px) {
            color: blue;
        }
    }
}


  